body {
  background: rgb(255, 255, 255);
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  overflow-x:hidden;
  height: 100%;
}
.navbar {
  margin-bottom: 5%;
  color: rgb(255, 255, 255);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,179,215,1) 0%, rgba(0,29,120,1) 34%, rgba(0,11,107,1) 67%, rgba(3,174,202,1) 100%, rgba(8,32,134,1) 100%);
  padding: 5px 16px;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
  width: 100%;
}
.navbar img {
  border-radius: 50%;
  width: 130px;
  height: 60px;
  margin-right: 10px;
}
.navbar .navbar-brand {
  color: #efe5ff;
  padding-left: 5%;
  padding-right: 50px;
  font-size: 24px;

}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #fff;
}
.navbar .navbar-brand i {
  font-size: 25px;
  margin-right: 5px;
}
.search-box {
  position: relative;
}	
.search-box input {
  padding-right: 35px;
  min-height: 40px;
  border: none;
  background: #fff;
  border-radius: 6px !important;
}
.search-box input:focus {		
  background: rgb(255, 255, 255);
  box-shadow: none;
}
.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 10px 10px;
  height: 100%;
}
.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}
.navbar .nav-item i {
  font-size: 18px;
}
.navbar .nav-item span {
  position: relative;
  top: 3px;
}
.navbar .navbar-nav > a {
  color: #efe5ff;
  padding: 8px 15px;
  font-size: 14px;		
}
.navbar .navbar-nav > a:hover, .navbar .navbar-nav > a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255,255,255,0.3);
}
.navbar .navbar-nav > a > i {
  display: block;
  text-align: center;
}

.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
  color: #fff;
  background: none !important;
}

.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255,255,255,0.2);
  background: transparent !important;
}
.navbar .navbar-nav .user-action {
  padding: 9px 15px;
  font-size: 15px;
}
.navbar .navbar-toggle {
  border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
  background: transparent;
}

.navbar .divider {
  background-color: #e9ecef !important;
}
@media (min-width: 1200px){
  .form-inline .input-group {
    width: 350px;
    margin-left: 30px;
  }
}

  .navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .navbar .navbar-form {
    border: none;			
    display: block;
    margin: 10px 0;
    padding: 0;
  }
  .navbar .navbar-nav {
    margin: 8px 0;
  }
  .navbar .navbar-toggle {
    margin-right: 0;
  }
  .input-group {
    width: 100%;
  }


.fa-facebook {
      
  color: #fff;
}
.fa-twitter{
  
  color: #fff;
}
.fa-google-plus {
  
  color: #fff;
}
.fa-pinterest-p{
  
  color: #fff;
}
.social-media{
  
  margin-top: 5%;
  width:100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,179,215,1) 0%, rgba(0,29,120,1) 34%, rgba(0,11,107,1) 67%, rgba(3,174,202,1) 100%, rgba(8,32,134,1) 100%);
}
.footer{
  margin-top: auto;
  margin-bottom: auto;
  bottom:0;
  width:100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,35,91,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 67%, rgba(29,37,93,1) 100%, rgba(8,32,134,1) 100%);
}
.btn{
  background: rgb(29,23,134);
  background: linear-gradient(90deg, rgba(29,23,134,1) 0%, rgba(50,60,79,1) 0%, rgba(52,65,96,1) 45%, rgba(55,76,134,1) 52%, rgba(73,90,164,1) 100%, rgba(12,13,204,1) 100%, rgba(68,54,54,1) 100%, rgba(1,2,9,1) 100%);
color: #fff;  
}
.border{
  border-width:3px !important;
  border-color: black;
  border-radius: 35%;
}

.alert {
  margin-left: 30%;
  padding: 20px;
  background: rgb(2,0,36);
  background-color: #66CDAA;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  width: 40%;
  text-align: center ;
  border-radius: 12px;

}